    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        list-style: none;
    }
    
    body {
        background-color: var(--bg-color);
    }
    /*Custom scroll bar*/
    
    html::-webkit-scrollbar {
        width: 0.3rem;
        background-color: var(--bg-color);
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
        border-radius: 5rem;
    }
    /*Custom scrill bar closed*/
    
     :root {
        --text-color: rgb(243, 240, 240);
        --bg-color: rgb(10, 10, 10);
        --main-color: rgba(245, 3, 3, 0.891);
    }
    /*Header open*/
    
    header {
        position: sticky;
        top: 0;
        display: flex;
        padding: 20px 100px;
        justify-content: space-between;
        transition: 0.5s;
    }
    
    .logo {
        font-size: 20px;
        font-weight: 600;
        color: var(--text-color);
        display: flex;
        align-items: center;
    }
    
    .logo i {
        margin-right: 5px;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        column-gap: 5rem;
    }
    
    .navbar li {
        position: relative;
    }
    
    .navbar a {
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 500;
    }
    
    .navbar a::after {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        background-color: var(--main-color);
        bottom: -4px;
        left: 0;
        transition: 0.5s;
    }
    
    .navbar a:hover::after,
    .navbar .para::after {
        width: 100%;
    }
    
    .btn {
        color: var(--text-color);
        background-color: var(--main-color);
        padding: 0.7rem 1.4rem;
        border-radius: 0.5rem;
        font-weight: 600;
    }
    
    .btn:hover {
        background-color: rgba(255, 0, 0, 0.898);
    }
    /*Header closed*/
    /*Cover open*/
    
    .container {
        width: 100%;
        min-height: 640px;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .container img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .home-text {
        padding-left: 50px;
        padding-top: 150px;
    }
    
    .home-text span {
        color: var(--text-color);
        font-weight: 500;
    }
    
    .home-text h1 {
        color: rgba(28, 153, 231, 0.804);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    
    .home-text .play {
        position: absolute;
        right: 4rem;
        bottom: 10%;
    }
    
    .home-text .bx {
        font-size: 2rem;
        color: var(--text-color);
        background-color: var(--main-color);
        border-radius: 50%;
        padding: 5px;
        border: 4px solid rgba(10, 10, 10, 0.73);
        transition: 0.5s;
    }
    
    .home-text .bx:hover {
        background-color: rgba(222, 16, 16, 0.776);
        transform: scale(1.1);
    }
    /*Cover closed*/
    /*movie start*/
    
    .heading {
        max-width: 968px;
        margin: 20px auto 10px auto;
        text-transform: uppercase;
        color: var(--text-color);
        font-weight: 500;
        border-bottom: 1px solid var(--main-color);
    }
    
    .movie-container {
        display: grid;
        /*grid-template-columns: auto auto auto auto;*/
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        max-width: 960px;
        margin: 0px auto 0px auto;
        color: var(--text-color);
        gap: 1rem;
        margin-top: 2rem;
    }
    
    .box .image {
        width: 100%;
        height: 270px;
    }
    
    .box .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.8);
        transition: 0.5S;
        box-shadow: 1.3px 1.3px 1.3px rgba(255, 238, 255, 0.296);
        cursor: pointer;
    }
    
    .box .image h3 {
        margin-top: 2rem;
    }
    
    .box .image img:hover {
        transform: translateY(10PX);
        filter: brightness(1);
    }
    /*Movie End*/
    /*Message Section*/
    
    .contact {
        color: var(--text-color);
        max-width: 968px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    
    .contact h2 {
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .contact form {
        padding: 10px;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-color);
    }
    
    form .email {
        border: none;
        outline: none;
        width: 200px;
        background-color: var(--text-color);
    }
    
    .contact .btn {
        border: none;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
    }
    /*Message Section end*/
    /*footer*/
    
    .footer {
        max-width: 968px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .social {
        display: flex;
        gap: 0.5rem;
    }
    
    .social .bx {
        background-color: var(--main-color);
        padding: 2px;
        border-radius: 50%;
        font-size: 2rem;
        border: 2px solid rgba(10, 10, 10, 0.73);
        color: var(--text-color);
        transition: 0.3s;
    }
    
    .social .bx:hover {
        transform: scale(1.05);
        filter: brightness(2);
    }
    
    .copyright {
        background-color: var(--main-color);
        color: var(--text-color);
        margin-top: 20px;
        text-align: center;
        padding: 5px 0px;
    }